<header>
    <span class="search"></span>
    <a class="logo">
        <img src="../images/ng.png" alt="ng2demo">
    </a>
    <span class="menu">
        <i></i>
        <i></i>
        <i></i>
    </span>
    <div class="menu-list">
        <ul>
            <li class="active">
                <a href="#">
                    <h2>首页</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2>电商DEMO</h2>
                </a>
                <div class="sub-menu">
                    <a href="#">C2C电商</a>
                    <a href="#">B2C电商</a>
                    <a href="#">B2B电商</a>
                </div>
            </li>
            <li>
                <a href="#">
                    <h2>新闻DEMO</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2>团购DEMO</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2>视频DEMO</h2>
                </a>
                <div class="sub-menu">
                    <a href="#">弹幕视频网站DEMO</a>
                    <a href="#">直播视频网站DEMO</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<div class="content">
    <ul>
        <li>推荐内容一</li>
        <li>推荐内容二</li>
        <li>推荐内容三</li>
        <li>推荐内容四</li>
    </ul>
</div>
<footer>页脚</footer>